#penga
{
	border: solid 1px #000000;
}

#undo
{
	width: 320px;
	display: block;
	border: solid 1px #000000;
}

#redo
{
	width: 320px;
	display: block;
	border: solid 1px #000000;
}

#clear
{
	width: 320px;
	display: block;
	border: solid 1px #000000;
}

#log
{
	width; 640px;
	height: 200px;
	border: solid 1px #000000;
}
