.colour
{
	width: 32px;
	height: 32px;
	display: inline-block;
	border: solid 1px;
}

#penga
{
	border: solid 1px #000000;
}

#undo
{
	width: 209px;
	display: inline-block;
	border: solid 1px #000000;
}

#redo
{
	width: 210px;
	display: inline-block;
	border: solid 1px #000000;
}

#clear
{
	width: 209px;
	display: inline-block;
	border: solid 1px #000000;
}

#log
{
	width; 640px;
	height: 200px;
	border: solid 1px #000000;
}
